In [1]:
import pandas as pd
from FeatureEngineering import *

In [2]:
X = pd.read_csv('mthly_agg_raw.csv')

In [3]:
print(TimebaseFeatures.__doc__)

    Performs following operations:
        - divides x into 2 periods i.e. n1, and n2, where n1 + n2
          is less than or equal to len(x).
        - aggregates x for each period using `agg` function.
        - performs the operation (`operand`) between two aggregated
          outputs.

    Parameters
    ----------
    start : int, default=1
        Number of the most recent period.

    stop : int, default=1
        Number of the latter period.

    attr : str, default="less_equal"
        Sum of permuted pair must satisfies `attr` and `n_period`
        condition e.g. start + stop <= 2. The accepted string function
        names follows numpy operation functions.

    n_period : int, default=2
        A threshold of sum of permuted pair.

    agg : str or function, default="mean"
        Function to use for aggregating the data. If a function, it
        must compute the aggregation of the flattened array only. The
        accepted string function names follows numpy operation
        functions.

    operand: str or function, default="divide"
        If str, it follows numpy operation functions i.e. "subtract",
        "add", "divide", and "multiply". If a function, it must
        accept 2 parameters i.e. `x1` and `x2` as inputs.

    n_chars : int, default=10
        Number of characters to be kept as part of variable name i.e.
        "{`agg`}_n{`n1`}_{`operand`}_n{`n2`}". This applies only to
        `agg` and `operand`.

In [4]:
print(TimebaseFeatures().fit.__doc__)

        Fit model.

        Parameters
        ----------
        X : DataFrame of shape (n_samples, n_features)
            `X` must be sorted by date-time. if order is descending, `n1`
            represents the most recent period while `n2` is the latter.

        by : list of labels
            Used to determine the groups for the group-by.

        columns : list of labels, default=None
            List of column labels to be aggregated. If None, it defaults
            to columns, whose dtype is either int or float.

        Attributes
        ----------
        func : dict
            Key represents column name, and value contains list of
            aggregation functions e.g. {'feature_01': ["mean", "sum"]}.

        Returns
        -------
        self

In [6]:
print(TimebaseFeatures().transform.__doc__)

        Transform X into aggregated X.

        Parameters
        ----------
        X : DataFrame of shape (n_samples, n_features)
            `X` must be sorted by date-time. if order is descending, `n1`
            represents the most recent period while `n2` is the latter.

        join : bool, default=False
            If True, it joins MultiIndex columns with "_" e.g.
            from MultiIndex(["feature_01","mean"]) to "feature_01_mean".

        Returns
        -------
        grouped_X : DataFrame of shape (n_groups, n_newfeatures)
            An aggregated X, where n_groups is number of unique keys,
            and n_newfeatures is n_features * n_funcs.

In [5]:
fe = TimebaseFeatures(start=1, stop=5, n_periods=3, operand="add")
fe.fit(X[["mthly_sum_amt_out"]], by=["apl_grp_no"])

In [7]:
fe.transform(X, join=False)

                mthly_sum_amt_out
                   Mean_n1_Add_n2 Mean_n2_Add_n1
apl_grp_no
DS-B2206230B071      2.019070e+06    2075235.645
DS-B22062504918      2.146151e+05     196819.930
DS-B22062703DB5      4.309030e+05     339954.060
DS-B22062704D15      1.029185e+07    7992693.000
DS-B22062705014      3.013986e+05     325695.395
...                           ...            ...
QR-9131157           2.326649e+06    2126589.135
QR-9131167           4.843110e+05     431110.000
QR-9144715           7.482852e+05     750176.180
QR-9147615           6.073019e+05     754185.980
QR-9147618           2.771850e+06    2854651.830

[11781 rows x 2 columns]